<!DOCTYPE html>
<html>
<head>
    <title>Login - Bertie's Books</title>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="/users/loggedin">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        
        <input type="submit" value="Login">
    </form>
    <br>
</body>
</html>