<!doctype html>
<html>
<head>
    <title>Register for <%= shopData.shopName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <h1>Register for <%= shopData.shopName %></h1>

    <% if (errors.length > 0) { %>
        <div style="color:red; margin-bottom:20px;">
            <ul>
                <% for (var i = 0; i < errors.length; i++) { %>
                    <li><%= errors[i].msg %></li>
                <% }; %>
            </ul>
        </div>
    <% } %>

    <form method="POST" action="/users/registered">
        <label>First name:</label>
        <input type="text" name="first"><br>

        <label>Last name:</label>
        <input type="text" name="last"><br>

        <label>Email:</label>
        <input type="email" name="email"><br>

        <label>Username:</label>
        <input type="text" name="username"><br>

        <label>Password:</label>
        <input type="password" name="password"><br>

        <button type="submit">Register</button>
    </form>
</body>
</html>
